.profile_card {
    padding: 30px 16px;
    img {
        width: 156px;
    }
    .title {
        font-size: 28px;
        color: var(--hedging-text-color);
    }
    span {
        color: var(--content-text-color);
    }
    hr {
        background-color: var(--border-color);
        height: 1px;
        opacity: 1;
        margin-bottom: 0;
    }
    p {
        color: var(--content-text-color);
    }
    .card_footer {
        padding: 20px;
        border: 0 !important;
        background-color: var(--bg-content);
    }
}
