.card {
    background-color: var(--bg-content) !important;
    box-shadow: 0 0 0 1px var(--border-color) !important;
    .card_header {
        border-color: var(--border-color);
        i {
            margin-right: 6px;
            color: var(--content-text-color);
        }
        strong {
            color: var(--hedging-text-color);
        }
    }
    .card_body {
        .title {
            color: var(--hedging-text-color);
        }
        span {
            color: var(--content-text-color);
        }
        hr {
            background-color: var(--border-color);
            height: 1px;
            opacity: 1;
        }
    }
    .card_footer {
        padding: 12px 16px;
        border-color: var(--border-color);
        strong {
            color: var(--hedging-text-color);
        }
    }
}
