.timeline_container {
    padding: 2px 5px;
    height: 500px;
    ul {
        li {
            .user_content {
                padding: 6px 0;
                border-bottom: 1px solid var(--border-color);
                h2 {
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--content-text-color);
                    a {
                        color: var(--link-color);
                    }
                }
                span {
                    color: var(--hedging-text-color);
                    font-size: 12px;
                    margin: 5px 0 15px 0;
                }
            }

            .icon_wrapper {
                i {
                    width: 30px;
                    height: 30px;
                    font-size: 12px;
                    line-height: 30px;
                }
            }
        }
    }
}
