.timeline_container {
    padding: 2px 5px;
    .icon_wrapper {
        i {
            width: 30px;
            height: 30px;
            font-size: 12px;
            line-height: 30px;
        }
    }
}
