@import "./variable.scss";

.visitor_wrapper {
    .title {
        font-size: 14px;
        color: $grey-700;
    }
    .counter {
        font-size: 1.1rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
    }
    .progress {
        height: 5px;
        background-color: $pink;
        .progress_bar {
            width: 40%;
            background-color: $success;
        }
    }
}
