.typography {
    .list_group {
        padding-left: 30px;
    }
    .list_inner {
        padding-left: 30px;
    }
    .list_square {
        list-style-type: square;
    }
    .list_circle {
        list-style-type: circle;
    }
}
